{# 
 # Copyright (C) 2021 Justin René Back <justin@tosdr.org>
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "base.twig" %}

{% set currentPage = '404' %}
{% set pageTitle = 'errors.404.page.title'|translate %}

{% block customStylesheets %}
	<link rel="stylesheet" href="{{ includeResource("css/notfound.css") }}">
{% endblock %}
{% block content %}
	{{ include("components/navbar.twig") }}
	<div class="element-divider"></div>
	<div class="container col-xxl-8 px-4 py-5">
		<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
			<div class="col-10 col-sm-8 col-lg-6">
				<img src="{{ includeResource("img/cats/404.jpg") }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
			</div>
			<div class="col-lg-6">
				<h1 class="display-5 fw-bold lh-1 mb-3">{{ 'errors.notfound.hero.text.1'|translate }}</h1>
				<p class="lead">{{ 'errors.notfound.hero.text.2'|translate }}</p>
				<div class="d-grid gap-2 d-md-flex justify-content-md-start">
					<a role="button" href="/" class="btn btn-primary btn-lg px-4 me-md-2">{{ 'errors.notfound.hero.button.home.text'|translate }}</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}{% endblock %}
