{# 
 # Copyright (C) 2021 Justin René Back <justin@tosdr.org>
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% set currentPage = 'about' %}
{% set pageTitle = 'views.about.title'|translate %}
{% set error = false %}



{% extends "base.twig" %}

{% block content %}
  {{ include("components/navbar.twig") }}

  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <h1 class="display-4">{{ 'views.about.title'|translate }}</h1>
      <p class="mt-2">{{ 'views.about.jumbotron.text.1'|translate|raw }}</p>
      <p class="mt-2">{{ 'views.about.jumbotron.text.2'|translate|raw }}</p>
      <p class="mt-2">{{ 'views.about.jumbotron.text.3'|translate|raw }}</p>
      <p class="mt-2">{{ 'views.about.jumbotron.text.4'|translate|raw }}</p>
    </div>
  </div>
  <div class="container">
    <section id="team">
        <!-- 0x000074 -->
      {% if isMobile == true %}
        {% set colSize = 1 %}
      {% else %}
        {% set colSize = 4 %}
      {% endif %}
      {% include "components/teamgrid/grid.twig" with {'Team': config.members, 'columns': colSize} %}
    </section>
  </div>
{% endblock %}