{# 
 # Copyright 2020 Pixelcat Productions <support@pixelcatproductions.net>
 # @author 2020 Justin René Back <jback@pixelcatproductions.net>
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #      http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
#}


{#
Die Variablen unten sind sehr wichtig bitte bei jeder Datei setzen!
    - JB
#}
{% set currentPage = 'api' %}
{% set pageTitle = 'views.api.jumbotron.header'|translate %}
{% set error = false %}



{% extends "base.twig" %}

{% block content %}
  {{ include("components/navbar.twig") }}

  <div class="jumbotron" id="api">
    <div><h1>{{ 'views.api.jumbotron.header'|translate }}</h1></div>
    <p>
      {{ 'views.api.jumbotron.text'|translate|raw }}
    </p>
  </div>


  <div class="container">


    <h2>{{ 'views.api.info.header'|translate }}</h2>
    <p>
      {{ 'views.api.info.text'|translate|raw }}
    </p>

    <ul>
      <li>{{ 'views.api.info.list.text'|translate|raw }}</li>
    </ul>

    <h3 class="page-header">{{ 'views.api.use.header'|translate|raw }}</h3>
    <p>
      {{ 'views.api.use.text'|translate|raw }}
    </p>
    <pre>$.getJSON("https://api.tosdr.org/v1/service/facebook.json").done(function(data) {
  return console.log(JSON.stringify(data));
});</pre>

    <p id="licensing">{{ 'views.api.use.license'|translate|raw }}</p>



    <h2 class="page-header">{{ 'views.api.examples.header'|translate|raw }}</h2>
    <p>
      {{ 'views.api.examples.text'|translate|raw }}
    </p>

    <p>
      {{ 'views.api.feedback.text'|translate|raw }}
    </p>

  </div> <!-- /container -->
{% endblock %}