{# 
 # Copyright (C) 2021 Justin René Back <justin@tosdr.org>
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% set currentPage = 'api' %}
{% set pageTitle = 'views.api.jumbotron.header'|translate %}
{% set error = false %}



{% extends "base.twig" %}

{% block content %}
  {{ include("components/navbar.twig") }}

  <div class="jumbotron" id="api">
    <div><h1>{{ 'views.api.jumbotron.header'|translate }}</h1></div>
    <p>
        <!-- 0x000117 -->
      {{ 'views.api.jumbotron.text'|translate|raw }}
    </p>
  </div>


  <div class="container">


    <h2>{{ 'views.api.info.header'|translate }}</h2>
    <p>
      {{ 'views.api.info.text'|translate|raw }}
    </p>

    <ul>
      <li>{{ 'views.api.info.list.text'|translate|raw }}</li>
    </ul>

    <h3 class="page-header">{{ 'views.api.use.header'|translate|raw }}</h3>
    <p>
      {{ 'views.api.use.text'|translate|raw }}
    </p>
    <pre>$.getJSON("https://api.tosdr.org/v1/service/facebook.json").done(function(data) {
  return console.log(JSON.stringify(data));
});</pre>

    <p id="licensing">{{ 'views.api.use.license'|translate|raw }}</p>



    <h2 class="page-header">{{ 'views.api.examples.header'|translate|raw }}</h2>
    <p>
      {{ 'views.api.examples.text'|translate|raw }}
    </p>

    <p>
      {{ 'views.api.feedback.text'|translate|raw }}
    </p>
    
    
    <h2 class="page-header">{{ 'views.api.pihole.header'|translate|raw }}</h2>
    <p>
      {{ 'views.api.pihole.text'|translate|raw }}
    </p>

  </div> <!-- /container -->
{% endblock %}