{# 
 # Copyright (C) 2021 Justin René Back <justin@tosdr.org>
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% set currentPage = 'classification' %}
{% set pageTitle = 'views.classification.jumbotron.header'|translate %}
{% set error = false %}



{% extends "base.twig" %}

{% block content %}
    {{ include("components/navbar.twig") }}

    <div class="jumbotron" id="api">
        <div><h1>{{ 'views.classification.jumbotron.header'|translate }}</h1></div>
        <p>{{ 'views.classification.jumbotron.text'|translate|raw }}</p>
    </div>


    <div class="container">
        <p>
        <p>
            {{ 'views.classification.container.text.1'|translate }}
        </p>
        <span class="badge badge-success"><i class="fas fa-thumbs-up"></i> {{ 'views.classification.point.good'|translate }}</span>, <!-- 20x000115 -->
        <span class="badge badge-warning"><i class="fas fa-thumbs-down"></i> {{ 'views.classification.point.bad'|translate }}</span>, 
        <span class="badge badge-danger"><i class="fas fa-times"></i> {{ 'views.classification.point.blocker'|translate }}</span> {{ 'views.classification.utility.or'|translate }}
        <span class="badge badge-secondary"><i class="fas fa-arrow-right"></i> {{ 'views.classification.point.neutral'|translate }}</span>
        
        <p>
            {{ 'views.classification.container.text.2'|translate }}
        </p>
        <p>
        {% include "components/rating.twig" with {'rating': "A"} %} {{ 'views.classification.class.a.desc'|translate }}
        </p>
        
        <p>
        {% include "components/rating.twig" with {'rating': "B"} %} {{ 'views.classification.class.b.desc'|translate }}
        </p>
        
        <p>
        {% include "components/rating.twig" with {'rating': "C"} %} {{ 'views.classification.class.c.desc'|translate }}
        </p>
        
        <p>
        {% include "components/rating.twig" with {'rating': "D"} %} {{ 'views.classification.class.d.desc'|translate }}
        </p>
        
        <p>
        {% include "components/rating.twig" with {'rating': "E"} %} {{ 'views.classification.class.e.desc'|translate }}
        </p>
        
        <p>
        {% include "components/rating.twig" with {'rating': "N/A"} %} {{ 'views.classification.class.none.desc'|translate }}
        </p>
        <p>
            {{ 'views.classification.container.text.3'|translate }}
        </p>
    </p>
</div> <!-- /container -->
{% endblock %}