<div class="container mt-4">
    <section>
        <div id="news-section mt-5" class="text-center">
            <a class="mx-3" href="{{ generateLink(" https://moneyland.time.com/2012/08/10/new-site-grades-those-pesky-terms-of-service-agreements-you-never-read/", true) }}">
                <img src="{{ includeResource(" img/news/time.png") }}" alt="Time" />
            </a>
            <a class="mx-3" href="{{ generateLink(" https://gigaom.com/2012/08/14/i-agree-why-terms-of-service-report-cards-are-a-good-idea/", true) }}">
                <img src="{{ includeResource(" img/news/gigaom.gif") }}" alt="GigaOM" />
            </a>
            <a class="mx-3" href="{{ generateLink(" https://www.theverge.com/2012/8/14/3241572/tos-dr-terms-of-service", true) }}">
                <img src="{{ includeResource(" img/news/verge.png") }}" alt="The Verge" />
            </a>
            <a class="mx-3" href="{{ generateLink(" https://www.lemonde.fr/technologies/article/2012/08/14/un-site-veut-mettre-fin-au-mensonge-des-conditions-d-utilisation-sur-internet_1745942_651865.html", true) }}">
                <img src="{{ includeResource(" img/news/lemondefr.png") }}" alt="Le Monde" />
            </a>
            <a class="mx-3" href="{{ generateLink(" https://www.zeit.de/digital/internet/2012-08/terms-of-service-did-not-read", true) }}">
                <img src="{{ includeResource(" img/news/zeit.png") }}" alt="Die Zeit" />
            </a>
            <a class="mx-3" href="{{ generateLink(" https://www.wired.com/story/terms-of-service-didnt-read/", true) }}">
                <img src="{{ includeResource(" img/news/wired.gif") }}" alt="Wired" />
            </a>
            <a class="mx-3" href="{{ generateLink(" https://www.strategy-business.com/blog/Artificial-Intelligence-Ratings-and-the-Small-Print", true) }}" style="color:grey;padding:8px">
                <span>
                    S+B             
                </span>
            </a>
            <a class="mx-3" href="{{ generateLink(" https://www.datingnews.com/daters-pulse/tosdr-brings-transparency-to-dating-industry-by-assessing-terms-of-service/", true) }}" style="color:grey;padding:8px">
                <span>
                    DN            
                </span>
            </a>
        </div>
    </section>
</div>
