{# 
 # Copyright 2020 Pixelcat Productions <support@pixelcatproductions.net>
 # @author 2020 Justin René Back <jback@pixelcatproductions.net>
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #      http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
#}
<div class="col-{{ col }}">
  <div class="card d-flex h-100">
    <a href="/{{ locale }}/service/{{ service.id }}">
      <div class="card-header">
        <img src="{{ includeResource(service.image) }}" class="mr-2" width="64"/> 
        {% if service.is_comprehensively_reviewed %}
          {% set rating = service.rating %}
        {% else %}
          {% set rating = "N/A" %}
        {% endif %}
        {{ service.name }} <span class="ml-1">{% include "components/rating.twig" with {'rating': rating} %}</span>
      </div>
    </a>
    <div class="card-body">


      <ul class="list-group">
        {% set count = 0 %}
        {% for point in getPointsByService(service.id) %}
          {% if point.status == "approved" and count < 5 %}


            {% set caseDetails = getCase(point.case_id) %}

            {% if caseDetails.classification == "bad" %}
              {% set color = "warning" %}
            {% endif %}

            {% if caseDetails.classification == "good" %}
              {% set color = "success" %}
            {% endif %}

            {% if caseDetails.classification == "neutral" %}
              {% set color = "secondary" %}
            {% endif %}

            {% if caseDetails.classification == "blocker" %}
              {% set color = "danger" %}
            {% endif %}


            <li data-toggle="tooltip" title="{{ point.quoteText|striptags|truncateText(300) }}" class=" list-group-item-action list-group-item list-group-item-{{ color }}"><a  target="_blank" href="{{ config.phoenix_url }}/points/{{ point.id }}">{{ point.title }}</a>
              <a class="float-right" data-toggle="tooltip" target="_blank" title="{{ 'components.servicegrid.service.button.case.text'|translate }}" href="{{ config.phoenix_url }}/cases/{{ caseDetails.id }}"><span class="badge badge-primary badge-pill"><i class="fas fa-briefcase"></i></span></a></li>

            {% set count = count + 1 %}
          {% endif %}
        {% endfor %}
      </ul>
      <div class="float-right">

        {% if service.rating == "A" %}
          {% set color = "success" %}
        {% endif %}
        {% if service.rating == "B" %}
          {% set color = "ranking-B" %}
        {% endif %}
        {% if service.rating == "C" %}
          {% set color = "warning" %}
        {% endif %}
        {% if service.rating == "D" %}
          {% set color = "ranking-D" %}
        {% endif %}
        {% if service.rating == "E" %}
          {% set color = "danger" %}
        {% endif %}
        {% if service.rating == "N/A" %}
          {% set color = "secondary" %}
        {% endif %}
        {% if count == 5 %}
          <a target="_blank" href="{{ generateLink(config.phoenix_url ~ "/services/" ~ service.id, true) }}"><span class="badge badge-{{ color }}"><i class="fas fa-eye"></i> {{ 'components.servicegrid.service.button.allpoints.text'|translate }}</span></a>

        {% else %}
          <a target="_blank" href="{{ generateLink(config.phoenix_url ~ "/services/" ~ service.id, true) }}"><span class="badge badge-success"><i class="fas fa-hands-helping"></i> {{ 'components.servicegrid.service.button.expand.text'|translate }}</span></a>

        {% endif %}
      </div>
    </div>
    <div class="card-footer">
      {# API #}
      <a target="_blank" href="{{ generateLink(config.phoenix_url ~ config.phoenix_api_endpoint ~ "/services/" ~ service.id, true) }}"><span class="badge badge-warning"><i class="fas fa-code"></i> {{ 'component.servicegrid.service.button.api'|translate }}</span></a>

      {# Documents #}
      <a target="_blank" href="{{ generateLink(config.phoenix_url ~ "/services/" ~ service.id ~ "/annotate/", true) }}"><span class="badge badge-primary"><i class="fas fa-gavel"></i> {{ 'components.servicegrid.service.button.documents.text'|translate }}</span></a>

      {# Service URL #}
      <a target="_blank" href="//{{ service.url|split(',')[0] }}"><span class="badge badge-info"><i class="fas fa-link"></i> {{ 'components.servicegrid.service.button.service.text'|translate }}</span></a>

      <a target="_blank" href="{{ includeResource(locale ~"_"~ service.id ~ ".svg", false, "shield_cdn") }}"><img src="{{ includeResource(locale ~"_"~ service.id ~ ".svg", false, "shield_cdn") }}"></a>

    </div>
  </div>
</div>