{# 
 # Copyright (C) 2021 Justin René Back <justin@tosdr.org>
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% if not SIMPLE %}
    <div class="col-{{ col }}">
        <div class="card d-flex h-100">
            <a href="/{{ locale }}/service/{{ service._source.id }}">
                <div class="card-header">
                    <img src="{{ config.s3_logos ~ "/" ~ service._source.id }}.png" class="mr-2" width="64"/> 
                    {% if service._source.is_comprehensively_reviewed %}
                        {% set rating = service._source.rating %}
                    {% else %}
                        {% set rating = "N/A" %}
                    {% endif %}
                    {{ service._source.name }} <span class="ml-1">{% include "components/rating.twig" with {'rating': rating} %}</span>
                </div>
            </a>
            <div class="card-body">


                <ul class="list-group">
                    {% set count = 0 %}
                    {% for point in getPointsByService(service._source.id) %}
                        {% if point.status == "approved" and count < 5 %}


                            {% set caseDetails = getCase(point.case_id) %}

                            {% if caseDetails.classification == "bad" %}
                                {% set color = "warning" %}
                            {% endif %}

                            {% if caseDetails.classification == "good" %}
                                {% set color = "success" %}
                            {% endif %}

                            {% if caseDetails.classification == "neutral" %}
                                {% set color = "secondary" %}
                            {% endif %}

                            {% if caseDetails.classification == "blocker" %}
                                {% set color = "danger" %}
                            {% endif %}


                            <li data-toggle="tooltip" title="{{ point.quoteText|striptags|truncateText(300) }}" class=" list-group-item-action list-group-item list-group-item-{{ color }}"><a  target="_blank" href="{{ config.phoenix_url }}/points/{{ point.id }}">{{ point.title }}</a>
                                <a class="float-right" data-toggle="tooltip" target="_blank" title="{{ 'components.servicegrid.service.button.case.text'|translate }}" href="{{ config.phoenix_url }}/cases/{{ caseDetails.id }}"><span class="badge badge-primary badge-pill"><i class="fas fa-briefcase"></i></span></a></li>

                            {% set count = count + 1 %}
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="float-right">

                    {% if service._source.rating == "A" %}
                        {% set color = "success" %}
                    {% endif %}
                    {% if service._source.rating == "B" %}
                        {% set color = "ranking-B" %}
                    {% endif %}
                    {% if service._source.rating == "C" %}
                        {% set color = "warning" %}
                    {% endif %}
                    {% if service._source.rating == "D" %}
                        {% set color = "ranking-D" %}
                    {% endif %}
                    {% if service._source.rating == "E" %}
                        {% set color = "danger" %}
                    {% endif %}
                    {% if service._source.rating == "N/A" %}
                        {% set color = "secondary" %}
                    {% endif %}
                    {% if count == 5 %}
                        <a target="_blank" href="{{ generateLink(config.phoenix_url ~ "/services/" ~ service._source.id, true) }}"><span class="badge badge-{{ color }}"><i class="fas fa-eye"></i> {{ 'components.servicegrid.service.button.allpoints.text'|translate }}</span></a>

                    {% else %}
                        <a target="_blank" href="{{ generateLink(config.phoenix_url ~ "/services/" ~ service._source.id, true) }}"><span class="badge badge-success"><i class="fas fa-hands-helping"></i> {{ 'components.servicegrid.service.button.expand.text'|translate }}</span></a>

                    {% endif %}
                </div>
            </div>
            <div class="card-footer">
                {# API #}
                <a target="_blank" href="{{ generateLink(config.phoenix_url ~ config.phoenix_api_endpoint ~ "/services/" ~ service._source.id, true) }}"><span class="badge badge-warning"><i class="fas fa-code"></i> {{ 'component.servicegrid.service.button.api'|translate }}</span></a>

                {# Documents #}
                <a target="_blank" href="{{ generateLink(config.phoenix_url ~ "/services/" ~ service._source.id ~ "/annotate/", true) }}"><span class="badge badge-primary"><i class="fas fa-gavel"></i> {{ 'components.servicegrid.service.button.documents.text'|translate }}</span></a>

                {# Service URL #}
                <a target="_blank" href="//{{ service._source.url|split(',')[0] }}"><span class="badge badge-info"><i class="fas fa-link"></i> {{ 'components.servicegrid.service.button.service.text'|translate }}</span></a>

                <a target="_blank" href="{{ includeResource(locale ~"_"~ service._source.id ~ ".svg", false, "shield_cdn") }}"><img src="{{ includeResource(locale ~"_"~ service._source.id ~ ".svg", false, "shield_cdn") }}"></a>

            </div>
        </div>
    </div>
{% else %}
    <div style="border: solid #000; border-width: 3px;">
        <div class="card d-flex h-100">
            <a href="/{{ locale }}/service/{{ service._source.id }}">
                <div class="card-header">
                    <img src="{{ config.s3_logos ~ "/" ~ service._source.id }}.png" class="mr-2" width="64"/> 
                    {% if service._source.is_comprehensively_reviewed %}
                        {% set rating = service._source.rating %}
                    {% else %}
                        {% set rating = "N/A" %}
                    {% endif %}
                    {{ service._source.name }} <h3>{% include "components/rating.twig" with {'rating': rating} %}</h3>
                </div>
            </a>
            <div class="card-body">


                <ul class="list-group">
                    {% set count = 0 %}
                    {% for point in getPointsByService(service._source.id) %}
                        {% if point.status == "approved" and count < 5 %}


                            {% set caseDetails = getCase(point.case_id) %}

                            {% if caseDetails.classification == "bad" %}
                                {% set color = "#fca903" %}
                            {% endif %}

                            {% if caseDetails.classification == "good" %}
                                {% set color = "#26ff00" %}
                            {% endif %}

                            {% if caseDetails.classification == "neutral" %}
                                {% set color = "#cbd1d1" %}
                            {% endif %}

                            {% if caseDetails.classification == "blocker" %}
                                {% set color = "#fc0303" %}
                            {% endif %}


                            <li data-toggle="tooltip" title="{{ point.quoteText|striptags|truncateText(300) }}" style="background-color: {{ color }};">
                                <a target="_blank" href="{{ config.phoenix_url }}/points/{{ point.id }}">{{ point.title }}</a>
                            </li>

                            {% set count = count + 1 %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <br>
{% endif %}