{# 
 # Copyright 2020 Pixelcat Productions <support@pixelcatproductions.net>
 # @author 2020 Justin René Back <jback@pixelcatproductions.net>
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #      http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
#}
<div class="col-{{ col }}">
    <div class="card d-flex h-100">
        <a target="_blank" href="{{ config.phoenix_url }}/services/{{ service.id }}"><div class="card-header"><img src="/{{ config.theme_dir }}/{{ config.theme }}/img/logo/{{ service.name|lower }}.png" width="64"/> {{ service.name }} {% include "components/rating.twig" with {'rating': service.rating} %}</div></a>
        <div class="card-body">
            {% set serviceDetails = getService(service.id) %}

            <ul class="list-group">
                {% set count = 0 %}
                {% for point in serviceDetails.points %}
                    {% if point.status == "approved" and count < 5 %}


                        {% set pointDetails = getPoint(point.id) %}

                        {% if pointDetails.case.classification == "bad" %}
                            {% set color = "warning" %}
                        {% endif %}

                        {% if pointDetails.case.classification == "good" %}
                            {% set color = "success" %}
                        {% endif %}

                        {% if pointDetails.case.classification == "neutral" %}
                            {% set color = "info" %}
                        {% endif %}

                        {% if pointDetails.case.classification == "blocker" %}
                            {% set color = "danger" %}
                        {% endif %}


                        <li data-toggle="tooltip" title="{{ point.quoteText }}" class="list-group-item list-group-item-{{ color }}"><a  target="_blank" class="link-unstyled" href="{{ config.phoenix_url }}/points/{{ point.id }}">{{ point.title }}</a> <a data-toggle="tooltip" target="_blank" title="{{ 'visit_case'|translate }}" href="{{ config.phoenix_url }}/cases/{{ pointDetails.case.id }}"><span class="badge badge-primary badge-pill"><i class="fas fa-briefcase"></i></span></a></li>

                        {% set count = count + 1 %}
                    {% endif %}
                {% endfor %}
            </ul>
            {% if count == 5 %}
                <a target="_blank" href="{{ config.phoenix_url }}/services/{{ service.id }}"><span class="badge badge-primary"><i class="fas fa-eye"></i> {{ 'view_all_points'|translate }}</span></a>

            {% else %}
                <a target="_blank" href="{{ config.phoenix_url }}/services/{{ service.id }}"><span class="badge badge-success"><i class="fas fa-hands-helping"></i> {{ 'help_expanding'|translate }}</span></a>

            {% endif %}
        </div>
        <div class="card-footer">
            {# API #}
            <a target="_blank" href="{{ config.phoenix_url }}{{ config.phoenix_api_endpoint }}/services/{{ service.id }}"><span class="badge badge-warning"><i class="fas fa-code"></i> {{ 'api'|translate }}</span></a>

            {# Documents #}
            <a target="_blank" href="{{ config.phoenix_url }}/services/{{ service.id }}/annotate"><span class="badge badge-primary"><i class="fas fa-gavel"></i> {{ 'view_documents'|translate }}</span></a>

            {# Points #}
            <a target="_blank" href="{{ config.phoenix_url }}/services/{{ service.id }}"><span class="badge badge-primary"><i class="fas fa-eye"></i> {{ 'view_points'|translate }}</span></a>

            {# Points #}
            <a target="_blank" href="//{{ service.url|split(',')[0] }}"><span class="badge badge-info"><i class="fas fa-link"></i> {{ 'visit_service'|translate }}</span></a>
        </div>
    </div>
</div>