{# 
 # Copyright (C) 2021 Justin René Back <justin@tosdr.org>
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
<nav class="navbar navbar-expand-md  bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="/"><img width="32" src="{{ config.s3_branding ~ "/tosdr-icon-128.svg" }}"alt="Logo"/></a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">

            <li class="nav-item {% if currentPage == "curator_dashboard" %} active{% endif %}">
                <a class="nav-link {% if currentPage == "curator_dashboard" %} active{% endif %}" href="/{{ locale }}/curator_dashboard">{{ plugin.getTranslation('views.curator_dashboard.header') }}</a>
            </li>
            <li class="nav-item {% if currentPage == "service_requests" %} active{% endif %}">
                <a class="nav-link {% if currentPage == "service_requests" %} active{% endif %}" href="/{{ locale }}/service_requests">{{ plugin.getTranslation('views.service_requests.header') }}</a>
            </li>
        </ul>
    </div>
</nav> 

{% if Notice is defined %}
    {% if Notice.Type is not defined %}
        {% set Notice = Notice|merge({'Type': 'info'})%}
    {% endif %}
    <div class="container mt-4">
        <div class="alert alert-{{ Notice.Type }}">
            <span id="notice_text">
                {% if Notice.Icon is defined %}
                    <i class="{{ Notice.Icon }}"></i>
                {% endif %}
                {{ Notice.Text|raw }}
            </span>
        </div>
    </div>
{% endif %}