{#
# Copyright (C) 2021 Justin René Back <justin@tosdr.org>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<link
		rel="stylesheet" href="{{ includeResource("css/sweetalert/sweetalert.min.css") }}">
		<!-- START Default Crisp CSS -->
		<link rel="stylesheet" href="{{ includeResource("css/general.css") }}">
		<link rel="stylesheet" href="{{ includeResource("css/footer.min.css") }}">
		<link rel="stylesheet" href="{{ includeResource("css/ribbon.min.css") }}">
		<link rel="stylesheet" href="{{ includeResource("css/social-icons.min.css") }}">
		<link rel="stylesheet" href="{{ includeResource("css/ranking-badges.min.css") }}">
		<link rel="stylesheet" href="{{ includeResource("css/highlight/default.min.css") }}"> {% block customStylesheets %}{%endblock %}


		<link rel="apple-touch-icon" sizes="180x180" href="{{ includeResource("favicon/apple-touch-icon.png") }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ includeResource("favicon/favicon-32x32.png") }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ includeResource("favicon/favicon-16x16.png") }}">
		<link rel="manifest" href="{{ includeResource("favicon/site.webmanifest") }}">
		<link rel="mask-icon" href="{{ includeResource("favicon/safari-pinned-tab.svg") }}" color="#5bbad5">
		<link rel="shortcut icon" href="{{ includeResource("favicon/favicon.ico") }}">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-config" content="{{ includeResource("favicon/browserconfig.xml") }}">
		<meta name="theme-color" content="#ffffff">


		<meta property="og:title" content="{{ ogTitle|default(pageTitle) }} {{ config.page_delimiter }} {{ config.site_name }}"/>
		<meta property="og:description" content="{{ ogDescription|default('base.footer.about.text'|translate) }}"/>
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="{{ URL }}"/>
		<meta property="og:locale" content="{{ locale }}"/>
		<meta
		property="og:image" content="{{ ogImage|default(includeResource("img/ogp.png")) }}"/>

		<!-- END Default Crisp CSS -->
		<title>{{ pageTitle }}
			{{ config.page_delimiter }}
			{{ config.site_name }}</title>
	</head>
	<body>
		{% block banners %}
			{% if isFeatureEnabled("feat-funding-banner") %}
				{% include 'components/banners/funding.twig' %}
			{% endif %}

		{% endblock %}
		{% block navbar %}
			{% include("components/navbar.twig") %}
		{% endblock %}
		{% block content %}{% endblock %}
		{% block footer %}
			{% include("footer.twig") %}
		{% endblock %}

		{# Modals #}
		{% include 'components/modals/language.modal.twig' %}
	</body>


	{% block default_scripts %}
		<script src="{{ includeResource("js/jquery/jquery.min.js") }}"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
		<script src="{{ includeResource("js/sweetalert/sweetalert.min.js") }}"></script>
		<script src="{{ includeResource("js/fontawesome/all.min.js") }}"></script>
		<script src="{{ includeResource("js/highlight/highlight.min.js") }}"></script>
	{% endblock %}

	{% block scripts %}{% endblock %}
	<!-- START Default Crisp JS -->


	{% block extra_scripts %}
		{% if not ONLY_TOSDR_ASSETS %}
			<script src="https://rksyl9kf1wtg.statuspage.io/embed/script.js"></script>
			<script type="text/javascript" src="https://tosdr.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/sb53l8/b/24/bc54840da492f9ca037209037ef0522a/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=275662e5"></script>
		{% endif %}
	{% endblock %}

	<!-- END Default Crisp JS -->
</html>
