{#
# Copyright (C) 2021 Justin René Back <justin@tosdr.org>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% set currentPage = 'frontpage' %}
{% set pageTitle = 'views.frontpage.title'|translate %}
{% set error = false %}


{% extends "base.twig" %}

{% block content %}

	<div class="px-4 py-4 my-2 text-center">
		<img class="d-block mx-auto mb-4" src="{{ config.s3_branding ~ "/tosdr-logo-128.svg" }}" alt="" height="57">
		<h1 class="display-5 fw-bold text-body-emphasis">{{ 'views.frontpage.hero.text.1'|translate }}</h1>
		<div class="col-lg-6 mx-auto">
			<p class="lead mb-4">{{ 'views.frontpage.hero.text.2'|translate }}</p>
			<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
				<input type="text" placeholder="{{ 'views.frontpage.search.input.placeholder'|translate }}" class="form-control form-control-lg" value="{{ GET.search }}" id="ratingsearch"/>
				{% include "components/loadingSpinner.twig" with {'elementID': 'searchLoading'} %}
			</div>

		</div>
	</div>

	<div class="element-divider"></div>

	<div class="frontpage-service-container">
		<div class="container mt-4">
			<section id="services" class="mt-2">

				{% if AllServices|length > 0 %}

					<div class="row">

						{% for service in OneToFour %}
							{% include 'components/services/card.twig' %}
						{% endfor %}

					</div>
					<div class="jumbotron jumbotron-fluid my-4 bg-success text-white">
						<div class="container text-center">
							<h2 class="mt-2">{{ 'views.frontpage.call_to_action.install'|translate }}</h2>
							<a role="button" class="btn btn-lg w-100 mb-2 btn-outline-light" href="{{ generateLink("downloads") }}">{{ 'views.frontpage.button.download.text'|translate }}</a>
						</div>
					</div>
					<div class="row">
						{% for service in FiveToSeven %}
							{% include 'components/services/card.twig' %}
						{% endfor %}
					</div>
					<div class="jumbotron jumbotron-fluid my-4 bg-warning">
						<div class="container text-center">
							<h2 class="mt-2">{{ 'views.frontpage.call_to_action.contribute'|translate }}</h2>
							<a role="button" class="btn btn-lg w-100 mb-2 btn-outline-light text-dark" href="{{ generateLink(config.phoenix_url, true) }}">{{ 'views.frontpage.button.phoenix.text'|translate }}</a>
						</div>
					</div>
					<div class="row">
						{% for service in ElevenToFourteen %}
							{% include 'components/services/card.twig' %}
						{% endfor %}
					</div>
					<div class="jumbotron jumbotron-fluid my-4 bg-danger text-white">
						<div class="container text-center">
							<div>
								<i class="fas fa-heart fa-3x"></i>
							</div>
							<h2 class="mt-2">{{ 'views.frontpage.call_to_action.donate'|translate }}</h2>
							<a role="button" class="btn btn-lg w-100 mb-2 btn-outline-light" href="{{ generateLink("donate") }}">{{ 'views.frontpage.button.donate.text'|translate }}</a>
						</div>
					</div>

					<div class="row">
						{% for service in RestServices %}
							{% include 'components/services/card.twig' %}
						{% endfor %}
					</div>
					<div class="jumbotron jumbotron-fluid my-4 bg-secondary text-white">
						<div class="container text-center">
							<h2 class="mt-2">{{ 'views.frontpage.call_to_action.code'|translate }}</h2>
							<a role="button" class="btn btn-lg w-100 mb-2 btn-outline-light" href="{{ generateLink(config.github_link, true) }}">{{ 'views.frontpage.button.code.text'|translate }}</a>
						</div>
					</div>
				{% else %}
					{% include "components/servicegrid/no_service.twig" %}
				{% endif %}
			</section>


		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script>
		{% include 'scripts/crisp.js.twig' %}</script>
{% endblock %}
