{# 
 # Copyright 2020 Pixelcat Productions <support@pixelcatproductions.net>
 # @author 2020 Justin René Back <jback@pixelcatproductions.net>
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #      http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
#}
<nav class="navbar navbar-expand-md  bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="/"><img width="32" src="/{{ config.theme_dir }}/{{ config.theme }}/img/tosdr-icon-32.svg"alt="Logo"/></a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item {% if currentPage == "frontpage" %} active{% endif %}">
                <a class="nav-link {% if currentPage == "frontpage" %} active{% endif %}" href="/{{ locale }}/">{{ 'navbar_item_home'|translate }}</a>
            </li>
            <li class="nav-item {% if currentPage == "ratings" %} active{% endif %}">
                <a class="nav-link {% if currentPage == "ratings" %} active{% endif %}" href="/{{ locale }}/#ratings">{{ 'navbar_item_ratings'|translate }}</a>
            </li>
            <li class="nav-item {% if currentPage == "about" %} active{% endif %}">
                <a class="nav-link {% if currentPage == "about" %} active{% endif %}" href="/{{ locale }}/about">{{ 'navbar_item_about'|translate }}</a>
            </li>
            <li class="nav-item {% if currentPage == "downloads" %} active{% endif %}">
                <a class="nav-link {% if currentPage == "downloads" %} active{% endif %}" href="/{{ locale }}/downloads">{{ 'navbar_item_download'|translate }}</a>
            </li>
            <li class="nav-item {% if currentPage == "forum" %} active{% endif %}">
                <a class="nav-link {% if currentPage == "forum" %} active{% endif %}" href="{{ config.forum_url }}">{{ 'navbar_item_forum'|translate }}</a>
            </li>
        </ul>
    </div>
</nav> 