{# 
 # Copyright (C) 2021 Justin René Back <justin@tosdr.org>
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% if not SIMPLE %}
    {% if rating is not defined %}
        {% set rating = "N/A" %}
    {% endif %}

    {% if rating == "N/A" %}
        <span class="badge badge-dark">{{ 'components.rating.class.none'|translate }}</span>
    {% endif %}

    {% if rating == "A" %}
        <span class="badge badge-success">{{ 'components.rating.class.a'|translate }}</span>
    {% endif %}

    {% if rating == "B" %}
        <span class="badge badge-ranking-B">{{ 'components.rating.class.b'|translate }}</span>
    {% endif %}

    {% if rating == "C" %}
        <span class="badge badge-warning">{{ 'components.rating.class.c'|translate }}</span>
    {% endif %}

    {% if rating == "D" %}
        <span class="badge badge-ranking-D">{{ 'components.rating.class.d'|translate }}</span>
    {% endif %}

    {% if rating == "E" %}
        <span class="badge badge-danger">{{ 'components.rating.class.e'|translate }}</span>
    {% endif %}

{% else %}
    {% if rating == "N/A" %}
        <span style="background-color: #adadad;">{{ 'components.rating.class.none'|translate }}</span>
    {% endif %}

    {% if rating == "A" %}
        <span style="background-color: #00ff15;">{{ 'components.rating.class.a'|translate }}</span>
    {% endif %}

    {% if rating == "B" %}
        <span style="background-color: #b7ff1c;">{{ 'components.rating.class.b'|translate }}</span>
    {% endif %}

    {% if rating == "C" %}
        <span style="background-color: #ffe81c;">{{ 'components.rating.class.c'|translate }}</span>
    {% endif %}

    {% if rating == "D" %}
        <span style="background-color: #ffb71c;">{{ 'components.rating.class.d'|translate }}</span>
    {% endif %}

    {% if rating == "E" %}
        <span style="background-color: #fc0303;">{{ 'components.rating.class.e'|translate }}</span>
    {% endif %}
{% endif %}