<div class="card text-bg-light rounded-0" id="alert-funding">
	<div class="card-header">{{ 'components.banners.funding.card.header'|translate }}
		<button data-alert-target="#alert-funding" data-alert-toggle="close" type="button" class="btn-close float-end" aria-label="Close"></button>
	</div>
	<div class="card-body">
		<h5 class="card-title">{{ 'components.banners.funding.card.title'|translate }}</h5>
		<p class="card-text">{{ 'components.banners.funding.card.text'|translate }}</p>
		<a role="button" href="{{ config.opencollective_url }}" target="_blank" class="btn btn-success">{{ 'components.banners.funding.card.button.text'|translate }}
			<i class="fas fa-heart"></i>
		</a>
	</div>
</div>
