{# 
 # Copyright 2020 Pixelcat Productions <support@pixelcatproductions.net>
 # @author 2020 Justin René Back <jback@pixelcatproductions.net>
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #      http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
#}
<div class="col-{{ col }}">
    <div class="card h-100">
        <img class="card-img-top" src="{{ member.image }}" alt="image">
        <div class="card-body d-flex flex-column">
            <h4 class="card-title">
                {{ member.name|raw }}
            </h4>
            {% if member.sub is not empty %}
                <h6 class="card-title text-muted">{{ member.sub|raw }}</h6>
            {% endif %}
            <p class="card-text">{{ member.description|raw }}</p>
            <div class="btn-group d-flex mt-auto" role="group" aria-label="...">
                {% if member.twitter is not empty %}
                    <a target="_blank" href="https://twitter.com/{{ member.twitter }}" class="btn btn-primary btn-block mt-auto w-100"><i class="fab fa-twitter"></i></a>
                    {% endif %}
                    {% if member.url is not empty %}
                    <a target="_blank" href="{{ member.url }}" class="btn btn-info btn-block mt-auto w-100"><i class="fas fa-globe-europe"></i></a>
                    {% endif %}
                    {% if member.github is not empty %}
                    <a target="_blank" href="https://github.com/{{ member.github }}" class="btn btn-dark btn-block mt-auto w-100"><i class="fab fa-github"></i></a>
                    {% endif %}
            </div>

        </div>
    </div>
</div>