{# 
 # Copyright (C) 2021 Justin René Back <justin@tosdr.org>
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}


<div class="col-xl-4 col-sm-12 mt-4">
	<div class="shadow-lg card-rounded custom-card bg-body d-flex h-100">
		<div class="card-body">

			{% if extension.ribbons.soon %}
				<div class="ribbon ribbon-top-right ribbon-primary">
					<span>{{ 'views.downloads.ribbon.soon.text'|translate }}</span>
				</div>
			{% endif %}
			{% if extension.ribbons.public_beta %}
				<div class="ribbon ribbon-top-right ribbon-warning">
					<span>{{ 'views.downloads.ribbon.public_beta.text'|translate }}</span>
				</div>
			{% endif %}
			<div class="p-4">
				<div class="row">
					<div class="col-4">
						<img src="{{ config.s3_branding }}{{ extension.image }}" width="80" alt="{{ extension.browser }}"/>
					</div>
					<div class="col-8">
						<span class="ms-1 fs-3">{{ extension.browser }}</span>
						<p class="ms-1 fs-6">{{ extension.description }}</p>
					</div>
				</div>
			</div>
			<div class="p-3 text-center">
				<div class="btn-group" role="group" aria-label="Basic example">
					{% if extension.links.download %}
						<a data-bs-toggle="tooltip" data-bs-placement="bottom" target="_blank" title="{{ 'components.extensions.card.button.download.text'|translate }}" href="{{ extension.links.download }}" role="button" class="btn btn-link btn-lg">
							<i class="fas fa-download"></i>
						</a>
					{% endif %}

					{% if extension.links.beta %}
						<a data-bs-toggle="tooltip" data-bs-placement="bottom" target="_blank" title="{{ 'components.extensions.card.button.beta.text'|translate }}" href="{{ extension.links.beta }}" role="button" class="btn btn-link btn-lg">
							<i class="fas fa-flask text-warning"></i>
						</a>
					{% endif %}

					{% if extension.links.source %}
						<a data-bs-toggle="tooltip" data-bs-placement="bottom" target="_blank" title="{{ 'components.extensions.card.button.source.text'|translate }}" href="{{ extension.links.source }}" role="button" class="btn btn-link btn-lg">
							<i class="fab fa-github text-secondary"></i>
						</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
