{# 
 # Copyright (C) 2021 Justin René Back <justin@tosdr.org>
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}


<div class="col-xl-4 col-sm-12 mt-2">
	<div class="shadow-lg card-rounded custom-card bg-body d-flex h-100">
		<div class="card-body">

			{% if extension.soon %}
			<div class="ribbon ribbon-top-right">
				<span>{{ 'views.downloads.ribbon.soon.text'|translate }}</span>
			</div>
    {% endif %}
			<div class="p-3">
				<div class="row">
					<div class="col-4">
						<img src="{{ config.s3_branding }}{{ extension.image }}" width="100" alt="{{ extension.browser }}"/>
					</div>
					<div class="col-8">
						<span class="ms-1 fs-3">{{ extension.browser }}</span>
						<p class="ms-1 fs-6">{{ extension.description }}</p>
					</div>
				</div>
			</div>
			{% if extension.soon != true %}
				<div class="p-3 text-center">
					<div class="btn-group" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-primary">
							<i class="fas fa-download"></i>
						</button>
						<button type="button" class="btn btn-warning">
							<i class="fas fa-flask"></i>
						</button>
						<button type="button" class="btn btn-secondary">
							<i class="fas fa-code"></i>
						</button>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</div>
