{# 
 # Copyright 2020 Pixelcat Productions <support@pixelcatproductions.net>
 # @author 2020 Justin René Back <jback@pixelcatproductions.net>
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #      http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
#}


{#
Die Variablen unten sind sehr wichtig bitte bei jeder Datei setzen!
    - JB
#}
{% set currentPage = 'admin_plugins' %}
{% set pageTitle = plugin.getTranslation('plugins') %}
{% set error = false %}



{% extends plugin.PluginName ~  "/templates/base.twig" %}

{% block content %}
    {% include plugin.PluginName ~  "/templates/components/navbar.twig" %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4">{{ plugin.getTranslation('plugins') }}</h1>
        </div>
    </div>

    <div class="container">

        {% if isMobile == true %}
            {% set colSize = 1 %}
        {% else %}
            {% set colSize = 2 %}
        {% endif %}
        {% if loadedPlugins|length > 0 %}
            {% include plugin.PluginName ~  "/templates/components/plugingrid/grid.twig" with {"Plugins": loadedPlugins, columns: colSize} %}
        {% else %}
            {% include plugin.PluginName ~  "/templates/components/plugingrid/no_plugin_installed.twig" %}
        {% endif %}
        <hr>
        {% if availablePlugins|length > 0 %}
            {% include plugin.PluginName ~  "/templates/components/plugingrid/grid.twig" with {"Plugins": availablePlugins, columns: colSize} %}
        {% else %}
            {% include plugin.PluginName ~  "/templates/components/plugingrid/no_plugin_available.twig" %}
        {% endif %}
    </div>
{% endblock %}
{% block scripts %}
    <script>
        let csrf = "{{ csrf }}";
        $(document).ready(function () {
            $("[data-plugin]").on('click', function () {
                $.post("/api/admin_plugins/",
                        {
                            csrf: csrf,
                            action: $(this).data("action"),
                            plugin: $(this).data("plugin")
                        },
                        function (data, status) {
                            if (data.error !== false) {
                                Swal.fire({
                                    title: '{{ plugin.getTranslation("failed") }}',
                                    html: data.message,
                                    icon: 'error',
                                    showCancelButton: false
                                });
                            } else {
                                Swal.fire({
                                    title: '{{ plugin.getTranslation("success") }}',
                                    html: data.message,
                                    icon: 'success',
                                    showCancelButton: false,
                                    timer: 3500,
                                    timerProgressBar: true
                                });
                            }
                        }).fail(function (xhr) {
                    Swal.fire({
                        title: '{{ plugin.getTranslation("failed") }}',
                        html: JSON.parse(xhr.responseText).message,
                        icon: 'error',
                        showCancelButton: false
                    });
                });
            });
        });
    </script>
{% endblock %}