{# 
 # Copyright 2020 Pixelcat Productions <support@pixelcatproductions.net>
 # @author 2020 Justin René Back <jback@pixelcatproductions.net>
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #      http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
#}


{#
Die Variablen unten sind sehr wichtig bitte bei jeder Datei setzen!
    - JB
#}
{% set currentPage = 'admin_spam' %}
{% set pageTitle = plugin.getTranslation('spam') %}
{% set error = false %}



{% extends plugin.PluginName ~  "/templates/base.twig" %}

{% block content %}
    {% include plugin.PluginName ~  "/templates/components/navbar.twig" %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4">{{ plugin.getTranslation('spam') }}</h1>
            <form method="GET" class="text-left">
                <label for="user">{{ plugin.getTranslation("user") }}:</label>
                <input name='csrf' type='hidden' value='{{ csrf }}'/>
                <input name="user" type="text" value="{{ GET.user }}" class="form-control"/>
            </form>
            <div class="btn-group">
                <!--
                <a href="?csrf={{ csrf }}&lookup=spam_by_user" role="button" class="btn btn-danger">{{ plugin.getTranslation("lookup_users_by_spam") }}</a>
                -->
                <a href="?csrf={{ csrf }}&lookup=spam_by_comments" role="button" class="btn btn-danger">{{ plugin.getTranslation("lookup_comments_by_links") }}</a>

            </div>
        </div>
    </div>

    {% if FoundUser is defined and FoundUser.id is defined %}
        <div class="container">
            <div class="card">
                <div class="card-header">
                    {{ plugin.getTranslation("found_user", 1, {"{{ username }}": FoundUser.username}) }}

                    {% if FoundUser.deactivated %}
                        <span class="badge badge-danger">{{ plugin.getTranslation("deactivated")|upper }}</span>
                    {% endif %}
                    <span class="float-right btn-group">
                        {% if not FoundUser.deactivated %}
                            <a role="button" class="btn btn-danger" href="?user={{ GET.user }}&csrf={{ csrf }}&action=deactivate">{{ plugin.getTranslation("deactivate_user") }}</a>
                        {% endif %}
                        <a role="button" class="btn btn-info" href="https://edit.tosdr.org/admin/users/{{ FoundUser.id }}">{{ plugin.getTranslation("view_in_phoenix") }}</a>
                    </span>
                </div>
                <div class="card-body">
                    <p id="case_comments">
                        {{ plugin.getTranslation("found_case_comments") }}: <span class="badge badge-primary">{{ CaseComments|length }}</span>
                        {% if Special is not defined %}
                            <input type="checkbox" onChange='$("#clear_case").attr("disabled", !$(this).is(":checked"))'>
                            <button id="clear_case" class="btn btn-danger" onclick="window.location.href = '?user={{ GET.user }}&action=clear_case&csrf={{ csrf }}';" disabled><i class="fas fa-trash" disabled></i></button>
                        {% endif %}
                    </p>
                    <p id="topic_comments">
                        {{ plugin.getTranslation("found_topic_comments") }}: <span class="badge badge-primary">{{ TopicComments|length }}</span>
                        {% if Special is not defined %}
                            <input type="checkbox" onChange='$("#clear_topic").attr("disabled", !$(this).is(":checked"))'>
                            <button id="clear_topic" class="btn btn-danger" onclick="window.location.href = '?user={{ GET.user }}&action=clear_topic&csrf={{ csrf }}';" disabled><i class="fas fa-trash" disabled></i></button>
                        {% endif %}
                    </p>
                    <p id="service_comments">
                        {{ plugin.getTranslation("found_service_comments") }}: <span class="badge badge-primary">{{ ServiceComments|length }}</span>
                        {% if Special is not defined %}
                            <input type="checkbox" onChange='$("#clear_service").attr("disabled", !$(this).is(":checked"))'>
                            <button id="clear_service" class="btn btn-danger" onclick="window.location.href = '?user={{ GET.user }}&action=clear_service&csrf={{ csrf }}';" disabled><i class="fas fa-trash" disabled></i></button>
                        {% endif %}
                    </p>
                    <p id="document_comments">
                        {{ plugin.getTranslation("found_document_comments") }}: <span class="badge badge-primary">{{ DocumentComments|length }}</span>
                        {% if Special is not defined %}
                            <input type="checkbox" onChange='$("#clear_document").attr("disabled", !$(this).is(":checked"))'>
                            <button id="clear_document" class="btn btn-danger" onclick="window.location.href = '?user={{ GET.user }}&action=clear_document&csrf={{ csrf }}';" disabled><i class="fas fa-trash" disabled></i></button>
                        {% endif %}
                    </p>
                    <p id="point_comments">
                        {{ plugin.getTranslation("found_point_comments") }}: <span class="badge badge-primary">{{ PointComments|length }}</span> 
                        {% if Special is not defined %}
                            <input type="checkbox" onChange='$("#clear_points").attr("disabled", !$(this).is(":checked"))'>
                            <button id="clear_points" class="btn btn-danger" onclick="window.location.href = '?user={{ GET.user }}&action=clear_points&csrf={{ csrf }}';" disabled><i class="fas fa-trash" disabled></i></button>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    {% endif %}
    {% if FoundUser is defined and FoundUser.id is not defined %}
        <div class="container">
            <div class="card">
                <div class="card-header">
                    {{ plugin.getTranslation("found_users", FoundUser|length) }}
                </div>
                <div class="card-body">
                    {% for user in FoundUser %}
                        <a href='?user=id:{{ user.id }}&csrf={{ csrf }}'>
                            <p>
                                <span class="badge badge-primary">{{ user.id }}</span> - {{ user.username }} - <span class="badge badge-primary">{{ user.email }}</span>
                            </p>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class='container mt-4'>
        <div class='alert alert-info'>{{ plugin.getTranslation("spam_tip") }}</div>
    </div>
{% endblock %}
