{# 
 # Copyright (C) 2021 Justin René Back <justin@tosdr.org>
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
<div class="col-{{ col }}">
  <div class="card h-100">
    <div class="card-body d-flex flex-column">
      <h4 class="card-title">
        {{ extension.browser }} {{ extension.type|translate }}
      </h4>
      <div class="card-text mb-2">
        <div class="row">
          <div class="col-2">
            <img class="img-responsive" style="max-width: 42px;" src="{{ includeResource(extension.image) }}">
          </div>
          <div class="col-10">
            {{ extension.description|translate|raw }}
          </div>
        </div>
      </div>
      <div class="btn-group d-flex mt-auto" role="group" aria-label="...">
        <a target="_blank" href="{{ generateLink(extension.repository, true) }}" class="btn btn-warning btn-block mt-auto w-100 h-100"><i class="fab fa-github"></i> {{ 'components.extensiongrid.addon.source'|translate }}</a>

        <a target="_blank" href="{% if featured is defined and extension.direct is defined %}{{ generateLink(extension.direct, true) }}{% else %}{{ generateLink(extension.url, true) }}{% endif %}" class="btn btn-success btn-block mt-auto w-100 h-100"><i class="fas fa-download"></i> {{ 'components.extensiongrid.addon.add'|translate(1, {"{{ browser }}": extension.browser}) }}</a>
      </div>

    </div>
  </div>
</div>