{# 
 # Copyright (C) 2021 Justin René Back <justin@tosdr.org>
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% set sessionType = 'visitor' %} {# visitor, customer, artist, admin #}
{% if user is defined %}
    {% set sessionType = 'user' %}
{% endif %}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}

            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            {% if not SIMPLE %}
                {% if THEME_MODE == "dark" %}
                    <link rel="stylesheet" href="{{ includeResource("css/bootstrap/bootstrap-dark.min.css") }}">
                    <link rel="stylesheet" href="{{ includeResource("css/general-dark.min.css") }}">
                {% else %}
                    <link rel="stylesheet" href="{{ includeResource("css/bootstrap/bootstrap.min.css") }}">
                {% endif %}
                {# <link rel="stylesheet" href="/themes/{{ config.theme }}/css/jquery/jquery-ui.min.css{{ "/css/jquery/jquery-ui.min.css"|fileHash }}"> #}
                <link rel="stylesheet" href="{{ includeResource("css/sweetalert/sweetalert.min.css") }}">
                <!-- START Default Crisp CSS -->
                <link rel="stylesheet" href="{{ includeResource("css/general.min.css") }}">
                <link rel="stylesheet" href="{{ includeResource("css/footer.min.css") }}">
                <link rel="stylesheet" href="{{ includeResource("css/ribbon.min.css") }}">
                <link rel="stylesheet" href="{{ includeResource("css/social-icons.min.css") }}">
                <link rel="stylesheet" href="{{ includeResource("css/ranking-badges.min.css") }}">
            {% endif %}

            <meta property="og:title" content="{{ ogTitle|default(pageTitle) }} {{ config.page_delimiter }} {{ config.site_name }}" />
            <meta property="og:description" content="{{ ogDescription|default('base.footer.about.text'|translate) }}" />
            <meta property="og:type" content="website" />
            <meta property="og:url" content="{{ URL }}" />
            <meta property="og:locale" content="{{ locale }}" />
            <meta property="og:image" content="{{ ogImage|default(includeResource("img/ogp.png")) }}" />

            <!-- END Default Crisp CSS -->
            <title>{{ pageTitle }} {{ config.page_delimiter }} {{ config.site_name }}</title>
        {% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block footer %}
            {{ include("footer.twig") }}
        {% endblock %}
        {#
        <div class="toast bg-dark text-white w-100 mw-100 fixed-bottom p-4" role="alert" data-autohide="false">
          <div class="toast-body p-4 d-flex flex-column">
            <h4>{{ 'cookie_warning_header'|translate }}</h4>
            <p>
              {{ 'cookie_warning_text'|translate }}
            </p>
            <div class="ml-auto">
              <button type="button" class="btn btn-outline-light mr-3" id="btnDeny">
                {{ 'cookie_deny'|translate }}
              </button>
              <button type="button" class="btn btn-light" id="btnAccept">
                {{ 'cookie_accept'|translate }}
              </button>
            </div>
          </div>
        </div>
        #}
    </body>
    {% if not SIMPLE %}
        <script src="{{ includeResource("js/jquery/jquery.min.js") }}"></script>
        <script src="{{ includeResource("js/jquery/popper.min.js") }}"></script>
        <script src="{{ includeResource("js/bootstrap/bootstrap.min.js") }}"></script>
        <script src="{{ includeResource("js/sweetalert/sweetalert.min.js") }}"></script>
        <script src="{{ includeResource("js/fontawesome/all.min.js") }}"></script>
    {% endif %}
    {% block scripts %}{% endblock %}
    <!-- START Default Crisp JS -->
    {% block default_scripts %}
        {% if not SIMPLE %}
            <script src="{{ includeResource("js/crisp.min.js", true, "") }}"></script>
        {% endif %}
    {% endblock %}
    <!-- END Default Crisp JS -->
</html>