{# 
 # Copyright 2020 Pixelcat Productions <support@pixelcatproductions.net>
 # @author 2020 Justin René Back <jback@pixelcatproductions.net>
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #      http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
#}

<footer class="site-footer">
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>{{ 'base.footer.about.header'|translate }}</h6>
        <p class="text-justify">{{ 'base.footer.about.text'|translate|raw }}</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>{{ 'links'|translate }}</h6>
        <ul class="footer-links">
          <li><a href="/about">{{ 'base.footer.links.about'|translate }}</a></li>
          <li><a href="mailto:{{ config.contact_email }}">{{ 'base.footer.links.contact'|translate }}</a></li>
          <li><a href="/legal">{{ 'base.footer.links.privacy'|translate }}</a></li>
          <li><a href="/legal">{{ 'base.footer.links.tos'|translate }}</a></li>
          <li><a href="/imprint">{{ 'base.footer.links.imprint'|translate }}</a></li>
        </ul>
      </div>

      {% if UNIVERSE >= 3 %}
        <div class="col-xs-6 col-md-3">
          <h6>DEBUG</h6>
          <ul class="footer-links">
            <li>Cache: Disabled</li>
            <li>Universe: {{ UNIVERSE_NAME }}</li>
            <li>Logic Time: {{ LogicMicroTime|truncateText(5, false) }}ms</li>
            <li>Template Time: {{ (microtime(true) - GLOBALS.microtime.template.start)|truncateText(5, false) }}ms</li>
            <li>Total Render Time: {{ (microtime(true) - GLOBALS.microtime.template.start + LogicMicroTime)|truncateText(5, false) }}ms</li>
          </ul>
        </div>
      {% endif %}
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">&copy; Copyright {{ 'Y'|date }} <a href="/">ToS;DR</a> Universe {{ UNIVERSE_NAME }}. | Cluster {{ CLUSTER }}
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="{{ config.twitter_link }}"><i class="fab fa-twitter"></i></a></li>
          <li><a class="facebook" href="{{ config.opencollective_url }}"><i class="fas fa-donate"></i></a></li>
          <li><a class="facebook" href="{{ config.github_link }}"><i class="fab fa-github"></i></a></li>
          <li><a class="facebook" href="{{ config.discord_link }}"><i class="fab fa-discord"></i></a></li>
          <li><a class="facebook" href="{{ config.reddit_link }}"><i class="fab fa-reddit"></i></a></li>
          <li><a class="facebook" href="{{ config.wikipedia_link }}"><i class="fab fa-wikipedia-w"></i></a></li>
          <li><a class="facebook" href="{{ config.forum_url }}"><i class="fab fa-discourse"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>