{# 
 # Copyright 2020 Pixelcat Productions <support@pixelcatproductions.net>
 # @author 2020 Justin René Back <jback@pixelcatproductions.net>
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #      http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
#}


{#
Die Variablen unten sind sehr wichtig bitte bei jeder Datei setzen!
    - JB
#}
{% set currentPage = 'service_requests' %}
{% set pageTitle = plugin.getTranslation('views.service_requests.header') %}
{% set error = false %}



{% extends plugin.PluginName ~  "/templates/base.twig" %}

{% block content %}
    {% include plugin.PluginName ~  "/templates/components/navbar.twig" %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4">{{ plugin.getTranslation('views.service_requests.header') }}</h1>
        </div>
    </div>

    <div class="container-fluid">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>{{ plugin.getTranslation('views.service_requests.table.th.service_name') }}</th>
                    <th>{{ plugin.getTranslation('views.service_requests.table.th.service_domains') }}</th>
                    <th>{{ plugin.getTranslation('views.service_requests.table.th.service_documents') }}</th>
                    <th>{{ plugin.getTranslation('views.service_requests.table.th.service_wikipedia') }}</th>
                    <th>{{ plugin.getTranslation('views.service_requests.table.th.service_actions') }}</th>
                    <th><i class="fas fa-envelope-open-text"></i></th>
                    <th><i class="fas fa-sticky-note"></i></th>
                </tr>
            </thead>
            <tbody>
                {% for request in requests %}
                    <tr id="request-{{ request.id }}">
                        <td>{{ request.name }}</td>
                        <td>{{ request.domains }}</td>
                        <td>{{ prettyDump(request.documents|json_decode) }}</td>
                        <td>{{ request.wikipedia }}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" data-id="{{ request.id }}" name="approve" class="btn btn-success">{{ plugin.getTranslation('views.service_requests.table.td.button.approve') }}</button>
                                <button type="button" data-id="{{ request.id }}" name="reject" class="btn btn-danger">{{ plugin.getTranslation('views.service_requests.table.td.button.reject') }}</button>
                            </div> 
                        </td>
                        <td>{{ (request.email ? '<i class="fas fa-check"></i>'|raw : '<i class="fas fa-times"></i>'|raw) }}</td>
                        <td>{{ request.note }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            $(document).on('click', '[name="approve"]', function () {
                let id = $(this).data('id');
                let button = $(this);
                $(this).attr('disabled', true);
                $.post("", {approve: id}, function (result) {
                    if (result.error & 0x100) {
                        $("#request-" + id).remove();
                        window.open("https://edit.tosdr.org/services/" + result.message + "/annotate");
                    } else {
                        $(this).attr('disabled', false);
                        alert("Error! " + result.message);
                    }
                });
            });
            $(document).on('click', '[name="reject"]', function () {
                let id = $(this).data('id');
                let button = $(this);
                $(this).attr('disabled', true);
                $.post("", {reject: id}, function (result) {
                    if (result.error & 0x100) {
                        $("#request-" + id).remove();
                    } else {
                        button.attr('disabled', false);
                        alert("Error! " + result.message);
                    }
                });
            });
        });
    </script>
{% endblock %}