{# 
 # Copyright 2020 Pixelcat Productions <support@pixelcatproductions.net>
 # @author 2020 Justin René Back <jback@pixelcatproductions.net>
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #      http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
#}
<div class="col-{{ col }}">
    <div class="card h-100">
        <div class="card-body d-flex flex-column">
            <h4 class="card-title">
                {{ extension.browser }} {{ plugin.getTranslation(extension.type) }}
            </h4>
            <div class="card-text mb-2">
                <div class="row">
                    <div class="col-2">
                        <img class="img-responsive" style="max-width: 42px;" src="{{ extension.image }}">
                    </div>
                    <div class="col-10">
                        {{ plugin.getTranslation(extension.description)|raw }}
                    </div>
                </div>
            </div>
            <div class="btn-group d-flex mt-auto" role="group" aria-label="...">
                <a target="_blank" href="{{ extension.repository }}" class="btn btn-warning btn-block mt-auto w-100 h-100"><i class="fab fa-github"></i> {{ plugin.getTranslation('view_source') }}</a>
                <a target="_blank" href="{{ extension.url }}" class="btn btn-success btn-block mt-auto w-100 h-100"><i class="fas fa-download"></i> {{ plugin.getTranslation('add_to', 1, {"{{ browser }}": extension.browser}) }}</a>
            </div>

        </div>
    </div>
</div>